doctorlist {

}
.btn-stl{
	width: 33px;
    height: 33px;
    background: transparent;
    border-radius: 50%;
    border-style: solid;
    z-index: 99999999999;
    border-color: black;
    border: 1px solid;
}